* body {
    top: 50%;
    font-family: soleto,sans-serif,arial;
    margin: 0px;
    box-sizing: border-box;
  }
  
  .title {
    text-align: center;
    font-size: 25px;
    padding: 4px;
    margin-left: 100px;
    margin-right: 150px;
    margin-top: 80px;
  }
  h3 {
    font-size: 24px;
  }
  h4{
    font-size: 18px;
  }
  .container{
    align-items:center;
    height: 50vh;
    padding: 100px 150px 150px 150px;
    margin:10px;
  }
  .card-container{
    display:flex;
    background: #fff;
    height: 230px;
    box-sizing: border-box;
    border:1px solid #dcdcde;

  }
  .overlay{
    margin: 5px;
    color: #fff;
    text-align: left;
    padding: 20px 0 20px 20px;
    width: 220px;
    position: absolute;
    background: #263440;


  }
  .overlay::before{
    content:"";
    height: 140%;
    position:absolute;
    transform: rotate(15deg);
    background: #263440;
    right: -40px;
    width: 105px;
    top:-40px;
    z-index:1;
    box-sizing: border-box;


  }
   .overlay h4{
    position: relative;
    z-index: 2;
  }
  
  .description{
    border:1px solid #dcdcde;
    width: 55%;
  
  }
  .content{
    padding: 18px;
    width: 70%;
    float:left;
    height: 5%;
    line-height: 1.4em; 

  }
  .header.description{
    flex:auto;
    padding:50px;

  }
  .header{
    width: 59%;
    background: #263440;
    position: relative;
  }
  .header img {
    position:relative;
    display:block;
    flex:auto;
    float: right;
    height: 100%;
    width: 55%;
 
  }
  .line::before{
    background: #e36f1e;
    margin:70px 0px 50px;
    left:-20;
    position: absolute;
    height:3px;
    width: 90px;
    content: "";
  }
  
  span{
    box-sizing: border-box;
    letter-spacing: 1.2px;
  
  }
  .button-orange{
    border: 2px solid #e36f1e;
    color: #e36f1e;
    padding: 8px 20px;
    border-radius:22px;
    float: right;
    margin: 20px 20px 0 0;
  }
  @media(max-width:640px){
    body .title{
    margin: 0px;
    padding:0px;
    }
    .card-container  {
    display: block;
    }
    .overlay
    .overlay::before{
      display:none;
    }
    .content{
      float: none;
      width: 100%;
      padding:0px;
    }
    .header{
      width: auto;
      height: 100%;
    }
    .description{
      width: 100%;
      margin-bottom: 20px;
    }

    .container{
      align-items:center;
      height: 20vh;
      padding:0px;
      margin: 0px;
   
    }
    .button-orange{
      float:none;
    }
  }
  @media(max-width:880px){
    body .title{
      margin:0px;
      padding:0px;
    }
    .card-container{
      display: block;
      }
      .overlay::before
      .overlay{
        display:none;
      }
      .header{
        width: auto;
        height: 100%;
      }
      .description{
        width: 100%;
      }
      .content{
        float: none;
        width: 100%;
        padding:0px;
      }
      .container{
        align-items:center;
        height: 25vh;
        position: absolute;
        padding: 0px;
      }
      .button-orange{
        float:none;
      }
   
    }
    @media(max-width:950px){
      .overlay::before{
        display:none;
      }

    }
